body{
    background-color: azure;
    text-align: center;
    
    }
    
     h1, h2 ,h3{
        text-align: center;
        color:rgb(80, 64, 26);
    }
    
    img{
        width: 240px;
        height: 490px;
        display: flex;
        margin: auto;
    }
    .centrado{
        margin: 10%;
    }
    
    .barra{
        text-align: center;
        background-color: rgb(182, 161, 79);
    }
    a{
        color: rgb(111, 25, 11);
        
    }
    
   
   